$red: red;
$blue: rgb(43, 174, 161);

body{
    margin: 0;
    top: 0;
}

.wrapper{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

.repoviewContainer {
    display: flex;
    flex-wrap: wrap;

    .forkcard {
        margin: 15px;
        width: 30vw;
        height: auto;
        display: grid;
        grid-template-columns: 1;
        padding: 0px 25px 10px 25px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(36, 36, 36, 0.575);
    
        button {
            width: 5vw;
            height: 3vw;
            background-color: $blue;
            color: white;
            border: none;
            border-radius: 2px;
            box-shadow: 1px 1px 5px rgba(36, 36, 36, 0.575);
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}